@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

html, body{
	font-family: 'Noto Sans KR', sans-serif;
	height: 100%;
	letter-spacing: -1px;
}

#container{
	margin: 0 auto;
}

.line{
	border: 0.5px solid #DBDBDB;
}

.section01, .section02, .section03, .section04{
	width: 1200px;
	margin: 0 auto;
	padding-top: 65px;
}

.section-line{
	border: 1px solid #efefef;
	width: 1200px;
	margin: 0 auto;
}




/* header */
header{
	background-color: white;
	width: 100%;
	z-index: 11111111111;
	/* position: fixed; */
}

.header-container{
	width: 1200px;
	margin: 0 auto;
	height: 104px;
	background-color: white;
	right: 0;
	left: 0;
	z-index: 333;
}

.header-container img{
	padding-top: 37px;
	float: left;
	margin-right: 556px;
}

nav > ul > li > a{
	float: left;
	font-size: 17px;
	color: #969696;
	margin-right: 107px;
	padding-top: 43px;
	text-decoration: none;
}

nav > ul > li:last-child > a{
	margin-right: 0;
}

.header-container::after, nav > ul::after, .profile::after, .impact::after, .project-info::after, .project-box::after, .stack-box::after, .footer-box::after{
	content: "";
	display: block;
	clear: both;
}

nav a:hover{
	font-weight: 500;
	color: #2639A3;
	text-decoration: none;
}

nav a::after, nav a::before{
	content: '';
	display: block;
	width: 0%;
	height: 2px;
	position: relative;
	bottom: -25px;
	background-color: #2639A3;
}

nav a::after{
	bottom: -6px;
}

nav a:before {
	left: 0;
}

nav a:after {
	right: 0;
	background: #2639A3;
	transition: width 0.8s cubic-bezier(0.25, 0.61, 0.36, 1);
}

nav a:hover:before {
	background: #2639A3;
	width: 100%;
	transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

nav a:hover:after {
	background: transparent;
	width: 100%;
	transition: 0s;
}


/* header */




/* section02 */
/* .profile */
.title{
	color: #2639A3;
	font-size: 18px;
	font-weight: 600;
}

.icon{
	width: 20px;
	border: 0.5px solid #868686;
	display: inline-block;
	position: relative;
	top: -6px;
	left: -1px;
}

.circle{
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #FFE0E3;
	border-radius: 50%;
	position: relative;
    left: -3px;
    top: -1px;
}

.tip{
	font-size: 11px;
	color: #A2A2A2;
}

.profile{
	font-size: 25px;
	font-weight: 100;
	padding-top: 40px;
	line-height: 37px;
}

.profile b{
	font-weight: 900;
	font-size: 27px;
	color: #2639A3;
}

.profile-img{
	width: 188px;
	height: 188px;
	border-radius: 50%;
	border: 1px solid #2639A3;
	float: left;
	z-index: 1111;
	padding-top: 0;
	overflow: hidden;
}

.profile-img:hover > img{
	transition: ease 1s;
	transform: scale(1.1);
}

.profile-line{
	width: 1188px;
	border: 1px solid #DBDBDB;
	margin: 18px 0 0 10px;
}

.profile-info{
	padding: 40px 0 0 210px;
}
/* .profile */





/* history */
.history, .impact, .story{
	margin-top: 92px;
	margin-bottom: 87px;
}

.subtitle b{
	color: #2639A3;
	font-size: 20px;
	font-weight: 700;
	position: relative;
    top: -4px;
}

.history > .subtitle b::after, .impact > .subtitle b::after, .story > .subtitle b::after{
	content: '';
	width: 23px;
	height: 23px;
	background-color: #FFE0E3;
	border-radius: 50%;
	display: inline-block;
	position: relative;
    z-index: -1;
}

.history > .subtitle b::after{
	left: -10px;
	top: -4px;
}

.subtitle img{
	width: 38px;
	height: 38px;
	margin-right: 11px;
}

.subtitle a{
	font-size: 12px;
	font-weight: 400;
	color: #5261B2;
	margin-left: 5px;
}

.history li{
	color: #606060;
	font-size: 15px;
	font-weight: 300;
	line-height: 25px;
	margin-top: 8px;
}




/* impact */
.impact ul{
	margin: 50px 0 106px 0;
}

.impact li{
	width: 299px;
	height: 158px;
	border-right: 1px dashed #D6D6D6;
	float: left;
}

.impact li:last-child{
	border: 0;
}

.impact li > img{
	margin: 0 auto;
	display: block;
	margin-bottom: 34px;
}

.impact li > b{
	color: #606060;
	font-size: 17px;
	font-weight: 700;
	text-align: center;
	display: block;
}


.impact > .subtitle b::after{
	left: -228px;
	top: -4px;
}

/* impact */





/* story */
.story p{
	margin-top: 17px;
	color: #606060;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
}

.story p > b{
	color: #2639A3;
	font-weight: 500;
}

.story > .subtitle b::after{
	left: -15px;
    top: -4px;
}

/* story */





/* project */
.project-info{
	margin-top: 37px;
	height: 88px;
}

.project-info div{
	float: left;
}

.project-left{
	width: 395px;
	font-size: 19px;
	line-height: 28px;
}

.project-left span, .project-right p{
	font-size: 18px;
	line-height: 27px;
}

.project-left b{
	font-weight: 500;	
	font-size: 21px;
	line-height: 31px;
}

.project-left b::after{
	content: '';
	display: inline-block;
	background-color: #FFE0E3;
	width: 130px;
    height: 10px;
	position: relative;
	left: -230px;
	z-index: -1;
}

.project-right p{
	color: #777;
}

.dashed{
	border: 1px dashed #E5E5E5;
	margin: 53px 0;
}

.project-content{
	width: 369px;
	margin: 0 46px 44px 0;
	float: left;
	overflow: hidden;
}

.project-content:last-child{
	margin-right: 0;
}

.project-scale{
	width: 369px;
	height: 208px;
	overflow: hidden;
}

.project-content img{
	width: 369px;
	height: 208px;
}

.project-content:hover img{
	transform: scale(1.2);
	transition: ease-in-out 1s;
}

.project-content b{
	font-size: 17px;
	line-height: 25px;
	margin: 24px 0 14px 0;
	display: block;
	color: #2639A3;
}

.project-content a{
	text-decoration: none;
}

.project-content p{
	font-size: 12px;
	line-height: 18px;
	color: #C6C6C6;
}

.project-scroll{
	width: 23px;
	height: 12px;
	margin: 0 auto;
	display: block;
	margin-bottom: 19px;
	cursor: pointer;
}
/* project */





/* stack */
.stack-box b{
	color: #2639A3;
	font-size: 15px;
	font-weight: 700;
	line-height: 22px;
}

.stack-box img{
	width: 16px;
	height: 8px;
	margin-left: 17px;
}

.stack-box{
	width: 1200px;
}

.stack-content::after{
	content: '';
	display: block;
	clear: both;
}

.stack-content{
	margin-bottom: 40px;
}

.stack-content img{
	float: left;
	width: 60px;
	height: 60px;
}

.stack-info{
	float: left;
	margin-left: 30px;
}

.stack-info b{
	color: #2639A3;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
}

.stack-info p{
	font-size: 14px;
	line-height: 25px;
	color: #7B7B7B;
}

.stackline{
	margin: 30px 0;
}
/* stack */



/* footer */
footer{
	width: 100%;
	background-color: #2639A3;
	height: 130px;
	margin-top: 142px;
}

.footer-box{
	width: 1200px;
	margin: 0 auto;
	padding-top: 36px;
}

.footer-info{
	width: 1000px;
}

.footer-info, .footer-box > img{ 
	float: left;
}

.footer-box > img{ 
	padding-top: 16px;
}

.footer-info > span, .footer-info a{
	color: rgba(255, 255, 255, 0.6);
	font-size: 12px;
	line-height: 18px;
	font-weight: 300;
}

.footer-info a{
	text-decoration: none;
}

.footer-info > span:first-child::after, .footer-info > span:nth-child(5)::after, .footer-info > span:nth-child(6)::after{
	content: '';
	border: 1px solid rgba(255, 255, 255, 0.6);
	width: 0;
	height: 7px;
	display: inline-block;

}

.footer-info > span:nth-child(4){
	margin-right: 20px;
	display: inline-block;
}

.footer-info > span:first-child::after{
	margin: 0 28px;
}

.footer-info > span:nth-child(5)::after, .footer-info > span:nth-child(6)::after{
	margin: 0 9px;

}

.scrolltop{
	position: fixed;
	top: 800px;
	right: 40px;
	width: 60px;
	height: 60px;
	cursor: pointer;
	display: none;
}
/* footer */



/* section01 */
.section01{
	width: 100%;
	height: 700px;
	border-bottom: 1px solid #e7e7e7;
	font-size: 35px;
	font-weight: 600;
}

.section01::after{
	content: '';
	display: block;
	clear: both;
}

.section01 ul, .section01 span{
	float: left;
}

.content-box{
	width: 600px;
	height: 38px;
	overflow: hidden;
	text-align: center;
    display: inline-block;
}

.section01 span{
	color: #2639A3;	
}

.content-box::before{
	content: '{';
	float: left;
	margin-right: 28px;
}

.content-box::after{
	content: '}';
	float: right;
}

.content-box::before, .content-box::after{
	color: #AAB7FF;	
	animation-name: opacity;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.content-list{
	animation-name: change; /* 이름 */
	animation-duration: 10s; /* 10초 */
	animation-iteration-count: infinite; /* 무한 반복 */
}

.content-list li{
	margin-left: 28px;
	color: #5D6BC5;
	margin-bottom: 3px;
}

.content-text{
	font-size: 20px;
	color: #6B6B6B;
	font-weight: 400;
	text-align: center;
    display: inline-block;
}

.content-footer{
	text-align: center;
    display: inline-block;
}

.content-footer span{
	font-size: 15px;
	color: #B2B2B2;
	font-weight: 400;
	margin-right: 20px;
}

.content-footer span:last-child{
	margin: 0;
}

.content-container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.content-container::after{
	content: '';
	display: block;
	clear: both;
}

/* scroll */
.scroll-downs {
	margin: 0 auto;
	width :16px;
	height: 28px;
	position: relative;
	top: 630px;
}
.mousey {
	width: 3px;
	padding: 10px;
	height: 20px;
	border: 2px solid #2639A3;
	border-radius: 25px;
	opacity: 0.75;
	box-sizing: content-box;
	cursor: pointer;
}
.scroller {
	width: 3px;
    height: 8px;
    border-radius: 25%;
	background-color: #2639A3;
}

.move{
	animation-name: scroll;
	animation-duration: 2.2s;
	animation-timing-function: cubic-bezier(.15,.41,.69,.94);
	animation-iteration-count: infinite;
}

/* scroll */

@-webkit-keyframes change {
	0%, 12.66%, 100% {
		transform: translate3d(0, 0, 0);
	}
	16.66%, 29.32% {
		transform: translate3d(0, -25%, 0);
	}
	33.32%,45.98% {
		transform: translate3d(0, -50%, 0);
	}
	49.98%,62.64% {
		transform: translate3d(0, -75%, 0);
	}
	66.64%,79.3% {
		transform: translate3d(0, -50%, 0);
	}
	83.3%,95.96% {
		transform: translate3d(0, -25%, 0);
	}
}

@-webkit-keyframes opacity {
	0%, 100% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}

  @keyframes scroll {
	0% { opacity: 0; }
	10% { transform: translateY(0); opacity: 1; }
	100% { transform: translateY(15px); opacity: 0;}
  }

/* section01 */