@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

html, body{
	font-family: 'Noto Sans KR', sans-serif;
	height: 100%;
	letter-spacing: -1px;
}

#container{
	margin: 0 auto;
}

.line{
	border: 0.5px solid #DBDBDB;
}

.section02, .section03, .section04{
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 65px;
}

.section-line{
	border: 1px solid #efefef;
	max-width: 1200px;
	margin: 0 auto;
}



/* header */
header{
	background-color: white;
	width: 100%;
	z-index: 11111111111;
}

.header-container{
	max-width: 1200px;
	margin: 0 auto;
	height: 104px;
	background-color: white;
	right: 0;
	left: 0;
	z-index: 333;
}

.header-container > a{
	float: left;
	margin-top: 37px;
}

#buger, #buger-close{
	display: none;
}

nav{
	float: right;
}

nav > ul > li{
	float: left;
	padding-top: 43px;
	margin-right: 107px;
}

nav > ul > li:last-child{
	margin-right: 0;
}

nav > ul > li > a{
	font-size: 17px;
	color: #969696;
	text-decoration: none;
	display: block;
}

nav > ul > li:last-child > a{
	margin-right: 0;
}


.clear-fix::after{
	content: "";
	display: block;
	clear: both;
}

nav a:hover{
	font-weight: 500;
	color: #2639A3;
	text-decoration: none;
}

nav a::after, nav a::before{
	content: '';
	display: block;
	width: 0%;
	height: 2px;
	position: relative;
	bottom: -25px;
	background-color: #2639A3;
}

nav a::after{
	bottom: -6px;
}

nav a:before {
	left: 0;
}

nav a:after {
	right: 0;
	background: #2639A3;
	transition: width 0.8s cubic-bezier(0.25, 0.61, 0.36, 1);
}

nav a:hover:before {
	background: #2639A3;
	width: 100%;
	transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

nav a:hover:after {
	background: transparent;
	width: 100%;
	transition: 0s;
}

@media screen and (max-width: 768px) {
    #buger{
		display: inline-block;
		position: absolute;
		top: 14px;
		right: 1px;
		width: 30px;
		height: 30px;
		margin: 0;
		border: 0;
		padding: 0;
		background-color: transparent;
	}
	
	#buger > span {
		width: 15px;
		height: 3px;
		margin-bottom: 2px;
		background-color: #2639A3;
		display: block;
		border-radius: 5px;
	}

	#buger > span:last-child{
		margin-bottom: 0;
	}

	.header-container{
		height: 60px;
		width: 100%;
	}
	
	.header-container a{
		float: none;
	}

	.header-container img {
		width: 86px;
		height: 19px;
		margin: 0 auto;
		display: block;
		float: none;
		padding-top: 20px;
	}

	.mobile-wrap{
		width: 100%;
		height: 100%;
		display: none;
		background-color: #2639A3;
		border: 1px solid black;
		z-index: 111;
		position: fixed;
		top: 0;
	}

	nav{
		padding-top: 50%;
		float: none;
	}

	nav > ul > li{
		float: none;
		margin-right: 0;
		text-align: center;
		padding: 20px 90px;
	}

	nav > ul > li > a{
		font-size: 25px;
		color:#ffffff8f;
		font-weight: 500;
		padding-top: 0;
	}

	nav > ul > li:hover > a{
		color: white;
	}

	nav a::after, nav a::before {
		display: none;
	}

	#buger-close{
		display: block;
		position: absolute;
		right: 15px;
		padding: 0;
		background-color: transparent;
		border: 0;
		top: 22px;
	}
	
	#buger-close img{
		width: 15px;
		height: 15px;
		padding: 0;
	}

	nav li:last-child a{
		padding-top: 0;
	}
	
}
/* header */




/* section02 */
/* .profile */
.title{
	color: #2639A3;
	font-size: 18px;
	font-weight: 600;
}

.icon{
	width: 20px;
	border: 0.5px solid #868686;
	display: inline-block;
	position: relative;
	height: 0.5px;
	top: 7px;
	left: -1px;
    z-index: -1;
}

.icon::after{
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #FFE0E3;
	border-radius: 50%;
	position: relative;
    left: 19px;
	top: -8px;
	
}


.tip{
	font-size: 11px;
	color: #A2A2A2;
	padding-left: 10px;
}

.profile{
	font-size: 25px;
	font-weight: 100;
	padding-top: 40px;
	line-height: 37px;
}

.profile b{
	font-weight: 900;
	font-size: 29px;
	color: #2639A3;
}

.profile-img{
	width: 188px;
	height: 188px;
	border-radius: 50%;
	border: 1px solid #2639A3;
	float: left;
	z-index: 1111;
	padding-top: 0;
	overflow: hidden;
}

.profile-img:hover > img{
	transition: ease 1s;
	transform: scale(1.1);
}

.profile-line{
	max-width: 1188px;
	border: 1px solid #DBDBDB;
	margin: 18px 0 0 10px;
}

.profile-info{
	padding: 40px 0 0 210px;
}

@media screen and (max-width: 768px) {
	.title{
		font-size: 14px;
		margin-left: 2em;
	}
	
	.profile{
		margin-left: 1em;
		font-size: 15px;
		line-height: 25px;
		margin-right: 2em;
	}

	.profile-img{
		width: 100px;
		height: 100px;
		margin-right: 20px;
	}

	.profile-img img{
		width: 100px;
		height: 100px;
	}
	
	.profile-info{
		padding: 13px 0 0 0;
	}

	.profile-line{
		border: none;
	}

	.profile b{
		font-size: 19px;
	}

	.icon{
		top: 10px;
	}

	.icon::after{
		left: 12px;
		top: -9px;
	}

	.tip{
		padding-left: 0;
	}

}
/* .profile */
/* section02 */




/* history */
.history, .impact, .story{
	margin-top: 92px;
	margin-bottom: 87px;
}

.history ul {
	margin-top: 10px;
}

.subtitle b{
	color: #2639A3;
	font-size: 20px;
	font-weight: 700;
	position: relative;
    top: -4px;
}

.history > .subtitle b::after, .impact > .subtitle b::after, .story > .subtitle b::after{
	content: '';
	width: 23px;
	height: 23px;
	background-color: #FFE0E3;
	border-radius: 50%;
	display: inline-block;
	position: relative;
    z-index: -1;
}

.history > .subtitle b::after{
	left: -10px;
	top: -4px;
}

.subtitle img{
	width: 38px;
	height: 38px;
	margin-right: 11px;
}

.subtitle a{
	font-size: 12px;
	font-weight: 400;
	color: #5261B2;
	margin-left: 5px;
}

.history li{
	color: #606060;
	font-size: 15px;
	font-weight: 300;
	line-height: 25px;
	margin-top: 8px;
}

@media screen and (max-width: 768px) {
	.history, .impact, .story{
		margin: 50px 1.6em 50px 1.6em;
	}

	.subtitle{
		margin-bottom: 6px;
	}

	.subtitle b{
		font-size: 14px;
	}

	.subtitle img{
		width: 24px;
    	height: 24px;
	}

	.history li{
		font-size: 11px;
		margin-top: 0;
		line-height: 20px;
	}

	.subtitle a{
		font-size: 0.2em;
		position: relative;
		left: -1em;
		top: -0.5em;
		margin-left: 0;
	}
}

/* history */


/* impact */
.impact ul{
	margin: 50px 0 106px 0;
}

.impact li{
	width: 299px;
	height: 158px;
	border-right: 1px dashed #D6D6D6;
	float: left;
}

.impact li:last-child{
	border: 0;
}

.impact li > img{
	margin: 0 auto;
	display: block;
	margin-bottom: 34px;
	width: 112px;
    height: 110px;
}

.impact li > b{
	color: #606060;
	font-size: 17px;
	font-weight: 700;
	text-align: center;
	display: block;
}


.impact > .subtitle b::after{
	left: -228px;
	top: -4px;
}

@media screen and (max-width: 768px) {
	.impact li:first-child, .impact li:nth-child(2){
		float: left;
		margin-bottom: 30px;
	}
	.impact ul{
		margin: 40px 0 70px 0;
	}
	
	.impact li{
		width: 49%;
		height: 105px;
		
	}

	.impact li:nth-child(2)::after{
		clear: both;
		content: "";
		display: block;
	}

	.impact li:nth-child(2){
		border-right: none;	
	}

	.impact li > img {
		width: 67px;
		height: 62px;
	}

	.impact li > b{
		font-size: 0.7em;
	}

	.history > .subtitle b::after, .impact > .subtitle b::after, .story > .subtitle b::after{
		width: 15px;
		height: 15px;
	}

	.impact > .subtitle b::after{
		left: -10px;
	}
}

/* impact */





/* story */
.story p{
	margin-top: 17px;
	color: #606060;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
}

.story > p b{
	color: #2639A3;
	font-weight: 500;
}

.story > .subtitle b::after{
	left: -15px;
    top: -4px;
}

@media screen and (max-width: 768px) {
	.story p{
		font-size: 11px;
		line-height: 21px;
		margin-top: 10px;
	}

	.story-box{
		display: block;
	}

	.story > .subtitle b::after{
		left: -10px;
	}
}
/* story */





/* project */
.project-info{
	margin-top: 37px;
	height: 88px;
}

.project-info div{
	float: left;
}

.project-left{
	max-width: 395px;
	font-size: 19px;
	line-height: 28px;
}

.project-left span, .project-right p{
	font-size: 18px;
	line-height: 27px;
}

.project-left b{
	font-weight: 500;	
	font-size: 21px;
	line-height: 31px;
}

.project-left b::after{
	content: '';
	display: inline-block;
	background-color: #FFE0E3;
	width: 130px;
    height: 10px;
	position: relative;
	left: -230px;
	z-index: -1;
}

.project-right p{
	color: #777;
}

.dashed{
	border: 1px dashed #E5E5E5;
	margin: 53px 0;
}

.project-content{
	max-width: 369px;
	margin: 0 46px 44px 0;
	float: left;
	overflow: hidden;
	cursor: pointer;
}

.project-content:last-child{
	margin-right: 0;
}

.project-scale{
	max-width: 369px;
	max-height: 208px;
	overflow: hidden;
}

.project-content img{
	max-width: 369px;
	max-height: 208px;
}

.project-content:hover img{
	transform: scale(1.2);
	transition: ease-in-out 1s;
}

.project-content b{
	font-size: 17px;
	line-height: 25px;
	margin: 24px 0 14px 0;
	display: block;
	color: #2639A3;
	font-weight: 500;
}

.project-content a{
	text-decoration: none;
}

.project-content p{
	font-size: 14px;
	line-height: 20px;
	color: #b6b6b6;
}

#modal-container{
	width: 100%;
	height: 100%;
	position: fixed;
	background:rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	display: none;
}

.modal-wrap{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	max-width: 1000px;
 	height: 800px;
	background:#fff;
	border-radius: 10px;
	overflow: hidden;
	display: none;
	overflow-y: scroll;
}

.modal-info{
	padding: 30px 40px;
}

.modal-info span{
	line-height: 40px;
}

.modal-info b{
	font-size: 20px;
	color: #2639A3;
	font-weight: 500;
	padding-right: 20px;
}

.modal-info span:nth-child(2){
	font-size: 10px;
	color: #A2A2A2;
	font-weight: 400;
}

.modal-info img{
	width: 15px;
	height: 15px;
	float: right;
	position: relative;
	top: 15px;
	cursor: pointer;
}

.modal-content img{
	max-width: 950px;
	padding-bottom: 20px;
	margin: 0 auto;
	display: block;
}

.modal-content img:last-child{
	padding-bottom: 0;
}


@media screen and (max-width: 768px) {
	.project-info{
		margin: 0 1.6em;
		margin-top: 40px;
		height: 100%;
	}

	.project-left{
		font-size: 15px;
	}

	.project-left span, .project-right p{
		font-size: 13px;
	}

	.project-left b{
		font-size: 17px;
	}

	.project-left b::after{
		left: -190px;
		width: 110px;
	}

	.project-left, .project-left span{
		line-height: 24px;
	}

	.project-right{
		margin-top: 10px;
	}

	.project-right p{
		font-size: 10px;
		line-height: 20px;
	}

	.project-content b{
		font-size: 13px;
		margin-bottom: 6px;
	}

	.project-content p{
		font-size: 10px;
	}

	.project-content img{
		width: 100%;
	}

	.project-content:last-child, .project-content{
		margin-left: 1.6em;
		margin-right: 1.6em;
	}

	.modal-content img{
		width: 100%;
	}

	.modal-wrap{
		width: 100%;
		height: 90%;
		border-radius: 0;
	}

	.modal-info b{
		font-size: 14px;
		padding-right: 5px;
	}

	.modal-info img{
		width: 13px;
		height: 13px;
		position: absolute;
		right: 15px;
	}
	
	.modal-info span{
		line-height: 15px;
	}
}
/* project */





/* stack */
.stack-box b{
	color: #2639A3;
	font-size: 15px;
	font-weight: 700;
	line-height: 22px;
}

.stack-box{
	margin-top: 40px;
	max-width: 1200px;
}

.stack-view{
	float: left;
}

.stack-content{
	margin-bottom: 40px;
	float: left;
	width: 600px;
}

.stack-content:last-child{
	margin-bottom: 0;
}

.stack-content img{
	float: left;
	width: 60px;
	height: 60px;
}

.stack-info{
	float: left;
	margin-left: 30px;
}

.stack-info b{
	color: #2639A3;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
}

.stack-info p{
	font-size: 14px;
	line-height: 25px;
	color: #7B7B7B;
}

.stackline{
	margin: 50px 0;
}

@media screen and (max-width: 768px) {
	.stack-info p{
		font-size: 10px;
		line-height: 20px;
	}

	.stack-box{
		margin: 0 1.6em;
		margin-top: 40px;
	}

	.stack-info b{
		font-size: 13px;
	}
	
	.stack-content img{
		width: 40px;
		height: 40px;
	}
	
	.stack-info{
		margin-left: 50px;
    	float: none;
	}
	
	.stack-content, .stack-content:last-child{
		margin-bottom: 50px;
		width: 100%;
		margin-right: 10px;
	}

	.stack-view:last-child .stack-content:last-child{
		margin-bottom: 0;
	}
}
/* stack */



/* footer */
footer{
	width: 100%;
	background-color: #2639A3;
	height: 130px;
	margin-top: 142px;
}

.footer-box{
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 36px;
}

.footer-info{
	max-width: 1000px;
}

.footer-info{ 
	float: left;
}

.footer-box > img{
	float: right;
}

.footer-box > img{ 
	padding-top: 16px;
}

.footer-info > span, .footer-info a{
	color: rgba(255, 255, 255, 0.6);
	font-size: 12px;
	line-height: 18px;
	font-weight: 300;
}

.footer-info a{
	text-decoration: none;
}

.footer-info > span:first-child::after, .footer-info > span:nth-child(5)::after, .footer-info > span:nth-child(6)::after{
	content: '';
	border: 1px solid rgba(255, 255, 255, 0.6);
	width: 0;
	height: 7px;
	display: inline-block;

}

.footer-info > span:nth-child(4){
	margin-right: 20px;
	display: inline-block;
}

.footer-info > span:first-child::after{
	margin: 0 28px;
}

.footer-info > span:nth-child(5)::after, .footer-info > span:nth-child(6)::after{
	margin: 0 9px;

}

.scrolltop{
	position: fixed;
	top: 800px;
	right: 40px;
	width: 60px;
	height: 60px;
	cursor: pointer;
	display: none;
}

@media screen and (max-width: 768px) {
	.scrolltop{
		width: 40px;
		height: 40px;
		top: 90%;
		right: 10px;
	}

	footer{
		height: 100%;
		margin-top: 100px;
	}

	.footer-info > span, .footer-info a{
		font-size: 10px;
		line-height: 18px;
	}

	.footer-info{
		margin: 0 0.6em;
	}

	.footer-box > img {
		float: left;
		margin-left: 0.6em;
		width: 100px;
	}

	.footer-box{
		padding-bottom: 36px;
	}
}
/* footer */



/* section01 */
.section01{
	width: 100%;
	height: 700px;
	border-bottom: 1px solid #e7e7e7;
	font-size: 35px;
	font-weight: 600;
}

.section01 ul, .section01 span{
	float: left;
}

.content-box{
	width: 600px;
	height: 38px;
	overflow: hidden;
	text-align: center;
    display: inline-block;
}

.section01 span{
	color: #2639A3;	
}

.content-box::before{
	content: '{';
	float: left;
	margin-right: 28px;
}

.content-box::after{
	content: '}';
	float: right;
}

.content-box::before, .content-box::after{
	color: #AAB7FF;	
	animation-name: opacity;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.content-list{
	animation-name: change; /* 이름 */
	animation-duration: 10s; /* 10초 */
	animation-iteration-count: infinite; /* 무한 반복 */
}

.content-list li{
	margin-left: 28px;
	color: #5D6BC5;
	margin-bottom: 3px;
}

.content-text{
	font-size: 20px;
	color: #6B6B6B;
	font-weight: 400;
	text-align: center;
    display: inline-block;
}

.content-footer{
	text-align: center;
    display: inline-block;
}

.content-footer span{
	font-size: 15px;
	color: #B2B2B2;
	font-weight: 400;
	margin-right: 20px;
}

.content-footer span:last-child{
	margin: 0;
}

.content-container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

/* scroll */
.scroll-downs {
	margin: 0 auto;
	width :16px;
	height: 28px;
	position: relative;
	top: 630px;
}
.mousey {
	width: 3px;
	padding: 10px;
	height: 20px;
	border: 2px solid #2639A3;
	border-radius: 25px;
	opacity: 0.75;
	box-sizing: content-box;
	cursor: pointer;
}
.scroller {
	width: 3px;
	height: 8px;
	border-radius: 25%;
	background-color: #2639A3;
}

.mousey:hover{
	transform: scale(1.1);
	transition: ease-in-out 1s;
}

.move{
	animation-name: scroll;
	animation-duration: 2.2s;
	animation-timing-function: cubic-bezier(.15,.41,.69,.94);
	animation-iteration-count: infinite;
}

/* scroll */
@media screen and (max-width: 768px) {
	.section01{
		font-size: 1rem;
		padding: 0;
		/* height: 650px; */
		height: 600px;
	}
	.content-container{
		width: 100%;
		position: relative;
	}

	.content-box{
		width: 80%;
		height: 19px;
	}

	.content-list li {
		margin-left: 10px;
		margin-bottom: 5px;
	}

	.content-text, .content-footer span{
		font-size: 0.6rem;
	}

	.content-text{
		margin: 4px 0;
	}

	.scroll-downs{
		top: 80%;
	}
	
	.mousey{
		padding: 5px;
  	 	height: 12px;
  		width: 2px;
	}

	.scroller{
		height: 6px;
   	    width: 2px;
	}
}

/* section01 */


@-webkit-keyframes change {
	0%, 12.66%, 100% {
		transform: translate3d(0, 0, 0);
	}
	16.66%, 29.32% {
		transform: translate3d(0, -25%, 0);
	}
	33.32%,45.98% {
		transform: translate3d(0, -50%, 0);
	}
	49.98%,62.64% {
		transform: translate3d(0, -75%, 0);
	}
	66.64%,79.3% {
		transform: translate3d(0, -50%, 0);
	}
	83.3%,95.96% {
		transform: translate3d(0, -25%, 0);
	}
}

@-webkit-keyframes opacity {
	0%, 100% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}

  @keyframes scroll {
	0% { opacity: 0; }
	10% { transform: translateY(0); opacity: 1; }
	100% { transform: translateY(15px); opacity: 0;}
  }

/* section01 */